h1{
    text-align: center;
    color: brown;
}

div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
}

.icono_azul{
    font-size: 2.5em; 
    color:blue;
}

.icono_rojo{
    font-size: 3em;
    color: brown;
}

.icono_azul2{
    vertical-align: bottom;
    font-size: 2.5em; 
    color:blue;
}

.icono_rojo2{
    font-size: 3em;
    color: brown;
    vertical-align: bottom;
}