/*h1{
    color: aqua!important;/*este signo es para que tome este color como importante

}*/
*{/*selector universal*/
    background-color: goldenrod;
    color: blue;
}

#titulo{/*esto es un id*/
    color: brown;
    text-align: center;

}

.centrar{/*esto es una class*/
    text-align: center;

}

.texto-grande{
    font-size: 20px;
}