h1{
    text-align: center;
    color: blueviolet;
}
div.ralativo{
    max-width: 300px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    border: 3px solid rebeccapurple;
}
div.absoluto{
    /*position: static;*/
   /* position: relative;*/
    /*position: fixed;*/
    position: absolute;
    bottom: 20px;
    right: 10px;
   /* max-width: 50%;*/
    border: 3px solid coral;
   /* margin:auto;*/
}

