h1{
    color: blueviolet;
    text-align: center;
}
h2{
    color: rgb(206, 118, 18);
}
p{
    color: rgb(194, 15, 230);
}
div{
    border: 10px solid #000;
    background-color: rgb(3, 77, 9);
    text-align: center;
}

